/* ===== Global ===== */

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #111;
  background: #a49788;
  );
  background-attachment: fixed;
}

h1, h2 {
  font-weight: 800;
  letter-spacing: -0.5px;
  margin: 0;
  font-size: 2em;
  color: antiquewhite;
}

p {
  font-weight: 300;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
}

/* ===== Hero Section ===== */

.hero {
  text-align: center;
  padding: 80px 20px 40px;
  color: #000;
}

.subtitle {
  font-size: 1.1rem;
  margin-top: 12px;
}

.latin-name {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.9rem;
  opacity: 0.8;
}

/* ===== Model Viewer ===== */

model-viewer.viewer {
  width: 100%;
  height: 520px;
}

/* AR button */
#ar-button {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 24px;
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  cursor: pointer;
  border: 2px solid black;
  transition: opacity .3s;
  color: darkred;
}
#ar-button:hover {
  opacity: 0.8;
}

/* ===== Info Section ===== */

.info-section {
  text-align: center;
  padding: 40px 20px;
}

.info-section h2 {
  margin-bottom: 12px;
}

  footer.credits {
    width: 100%;
    text-align: center;
    padding: 0px 12px;
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;
    backdrop-filter: blur(8px);
    border-top: 1px solid rgba(255,255,255,0.15);
    display: flex;
    justify-content: center;
  }

  footer.credits p {
    margin: 0;
    line-height: 1.6;
    font-size: smaller;
  }
